.windows8 {
position: relative;
width: 50px;
height:50px;
}

.windows8 .wBall {
position: absolute;
width: 48px;
height: 48px;
opacity: 0;
-webkit-transform: rotate(225deg);
-webkit-animation: orbit 4.4s infinite;
transform: rotate(225deg);
animation: orbit 4.4s infinite;
}

.windows8 .wBall .wInnerBall{
position: absolute;
width: 6px;
height: 6px;
background: #000000;
left:0px;
top:0px;
-webkit-border-radius: 6px;
border-radius: 6px;
}

.windows8 #wBall_1 {
-webkit-animation-delay: 0.96s;
animation-delay: 0.96s;
}

.windows8 #wBall_2 {
-webkit-animation-delay: 0.19s;
animation-delay: 0.19s;
}

.windows8 #wBall_3 {
-webkit-animation-delay: 0.38s;
animation-delay: 0.38s;
}

.windows8 #wBall_4 {
-webkit-animation-delay: 0.58s;
animation-delay: 0.58s;
}

.windows8 #wBall_5 {
-webkit-animation-delay: 0.77s;
animation-delay: 0.77s;
}

@-webkit-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-webkit-transform: rotate(180deg);
-webkit-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-webkit-transform: rotate(300deg);
-webkit-animation-timing-function: linear;
-webkit-origin:0%;
}

30% {
opacity: 1;
-webkit-transform:rotate(410deg);
-webkit-animation-timing-function: ease-in-out;
-webkit-origin:7%;
}

39% {
opacity: 1;
-webkit-transform: rotate(645deg);
-webkit-animation-timing-function: linear;
-webkit-origin:30%;
}

70% {
opacity: 1;
-webkit-transform: rotate(770deg);
-webkit-animation-timing-function: ease-out;
-webkit-origin:39%;
}

75% {
opacity: 1;
-webkit-transform: rotate(900deg);
-webkit-animation-timing-function: ease-out;
-webkit-origin:70%;
}

76% {
opacity: 0;
-webkit-transform:rotate(900deg);
}

100% {
opacity: 0;
-webkit-transform: rotate(900deg);
}

}

@keyframes orbit {
0% {
opacity: 1;
z-index:99;
transform: rotate(180deg);
animation-timing-function: ease-out;
}

7% {
opacity: 1;
transform: rotate(300deg);
animation-timing-function: linear;
origin:0%;
}

30% {
opacity: 1;
transform:rotate(410deg);
animation-timing-function: ease-in-out;
origin:7%;
}

39% {
opacity: 1;
transform: rotate(645deg);
animation-timing-function: linear;
origin:30%;
}

70% {
opacity: 1;
transform: rotate(770deg);
animation-timing-function: ease-out;
origin:39%;
}

75% {
opacity: 1;
transform: rotate(900deg);
animation-timing-function: ease-out;
origin:70%;
}

76% {
opacity: 0;
transform:rotate(900deg);
}

100% {
opacity: 0;
transform: rotate(900deg);
}

}
