body{
	width: 100%;
	height: 100%;
	font-family: "open sans";
	 -webkit-user-select: none;
	 overflow: hidden;
}


.btn-update {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}
.btn-update:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.btn-update:active {
	position:relative;
	top:1px;
}
.full{

	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;

	
}

.header{
	position: absolute;
	left: 0;
	height: 75px;
	right: 0;
	border-bottom: 1px solid #c0c0c0;

}


@-webkit-keyframes fadeIn
{
0%   {opacity: 0;}
25%   {opacity: 0;}

100% {opacity:1;}
}
#dj-menu{

	transition: all 0.5s ease;
	&.hide{
		left: -100%;
	
	}

	.header{

		background: url(../img/logo_header.png) no-repeat 10px 50%;

		.tabs{
			position: absolute;
			bottom: 0;
			right: 10px;
			width: auto;
			
			div{
				float: left;
				height: 50px;
				width: 50px;
				margin-left: 10px;
				margin-top: 10px;
				background: white url('../img/appbar.home.garage.png') 50% 50% no-repeat;
				border: 1px solid #c0c0c0;
				border-bottom: none;
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
				opacity: 0.5;

				cursor: pointer;
				&:hover{
					background-color: #c0c0c0
				}
				
				&.fav{
					background-image: url('../img/appbar.star.png');
				}

				&.search{
					background-image: url('../img/appbar.magnify.png');
				}

				&.settings{
					background-image: url('../img/appbar.settings.png');
					position: relative;
					&::after{

						content: 'N';
						position: absolute;
						padding: 5px;
						background-color: red;
						color: #fff;
						border-radius: 50px;
						font-size: 10px;
						width: 15px;
						text-align: center;
						right: -10px;
						top: -10px;

					}
				}

			}
			
		}

	
	}


	.nav-wrap{
		left: 0;
		right:0;
		top: 76px;
		bottom: 0;
		overflow: hidden;
		position: absolute;

		&.hide{
			left: 100%;
		}
	}

	.list-wrap{

		left: 0;
		bottom: 0;
		width: 200px;
		top: 0;
		position: absolute;
		overflow-y: hidden;
		background: #fff;
	}

	.list-B{
		left: 200px;
		width: 250px;

		transition: all 0.5s ease;
		&.hide{
			left: -1000px;
		}
	}
	.list{
		
		list-style-type: none;
		margin: 0;
		padding: 0;
			min-height: 100%;
			margin-right: 7px;
			box-shadow: 2px 0 5px #888;
	}

	.list-A{
		
		z-index: 100;

		li{
			
			&:not(.head){
				cursor: pointer;
			}

			padding-left: 40px;
			line-height: 40px;
		
			&:hover{
				background: #beda63;
				color: #fff;
			}

			&.active{
				background: #7db111;
				color: #fff;
				position: relative;
				&:after{

-webkit-animation-name: fadeIn;
-webkit-animation-duration: 1s;
-webkit-animation-timing-function: ease;

					right: -7px;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					
					border-right-color: #fff;
					border-width: 15px;
					margin-top: -15px;
				}	
			}

		}
		li.head{
			padding-left: 20px;
			background: #FF4444;
			color: #fff;

			&.sd{
				background: #FF4444;
			}

			&.smp{
				background: #0099CC;
			}
			
			&.sma{
				background: #c0c0c0;
			}
				
		}
	}


	.list-B{
		z-index: 99;

		li{

				padding-left: 20px;
			line-height: 40px;
			cursor: pointer;
			&:hover{
				background: #beda63;
				color: #fff;
			}

			&.active{
				background: #7db111;
				color: #fff;
				position: relative;
				&:after{

-webkit-animation-name: fadeIn;
-webkit-animation-duration: 1s;
-webkit-animation-timing-function: ease;
					right: -7px;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					
					border-right-color: #fff;
					border-width: 15px;
					margin-top: -15px;
				}	
			}
		}

	}


	.list-C{
		position: absolute;
		z-index: 98;
		left: 450px;
		right: 0px;
		top: 0;
		bottom: 0;
		transition: all 0.5s ease;
		overflow: auto;
		padding: 20px;
		padding-top: 0;

		&.hide{
			left: -1000px;
		}
		ul{
			box-shadow: none;
	

			list-style-type: none;
		}
		
		
		&>ul>li{
			div{
				clear: both;
				padding-top: 20px;
			
			}

			ul{
				margin: 0;
				padding: 0;

				li{
					cursor: pointer;
					float: left;
					width: 150px;
					height: 50px;
					padding: 10px;
					margin-top: 10px;
					margin-right: 10px;
					border: 1px solid black;
					opacity: 0.5;
					transition: all 0.5s ease;
					&.book{
						background: black;
						color: white;
					}
					&:hover{
						opacity: 1; 
					}
				}
			}
		
			&:nth-child(5n+2){
				color: #0099CC;

				li{
					border-color: #0099CC;
				}
				li.book{
					background-color:  #0099CC;
				}				
			}
			&:nth-child(5n+1){
				color: #FF4444;
				li{
					border-color: #FF4444;
				}
				li.book{
					background-color:  #FF4444;
				}
			}
			&:nth-child(5n+3){
				color: #FF8800;
				li{
					border-color: #FF8800;
				}
				li.book{
					background-color:  #FF8800;
				}
			}
			&:nth-child(5n){
				color: #669900;
				li{
					border-color: #669900;
				}
				li.book{
					background-color:  #669900;
				}
			}
			&:nth-child(5n+4){
				color: #9933CC;
				li{
					border-color: #9933CC;
					
				}
				li.book{
					background-color:  #9933CC;
				}


			}

		}

	}

	.list-C{



	}
}









#dj-paket{
	background: white;
	transition: all 0.5s ease;
	z-index: 1000;
	width: 100%;
	&.hide{
		left: 100%;
	
	}

	.sidebar{
		background: #f4f4f4;
		width: 180px;
		left: 0;
		bottom: 0;
		top: 75px;
		position: absolute;
		padding-top: 100px;

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
			li{
				padding: 10px;
				padding-left: 20px;
				cursor: pointer;
				position: relative;
				&:hover{
					background: #fefefe;
				}
				&.active{
					background: white;

					&:after{

					left: 0;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					
					border-left-color: #9933CC;
					border-width: 10px;
					margin-top: -10px;
				}	
				}
				div{
					height: 50px;
					border: 1px solid #9933CC;
					padding: 10px;
					background: white;
					color: #9933CC;	
				}

				&.book{
					div{
						background-color: #9933CC;
						color: white;
					}
				}
			}

		}

	}


	#dj-paket-back{
		background: url('../img/logo_header_back.png') 0 50% no-repeat;
		height: 75px;
		position: absolute;
		z-index: 10000;
		left: 10px;
		top: 10px;
		width: auto;
		padding-left: 80px;
		line-height: 40px;

		cursor: pointer;
		h1{
			font-weight: 100;
		}
	}
	.header{
		position: absolute;
		

		left: 0px;
		
		right: 0;
		top: 0;

	}
	#content-wrap{
		left: 180px;
		top: 75px;
		bottom: 0;
		right:0;
		position: absolute;
	}

	#content{

		left: 0;
		bottom: 0;
		right: 0;
		top: 0;
		overflow:  hidden;
		position: absolute;

		div{
			background: white;
			position: absolute;
			width: calc(~"100% - 300px");
			
			top: 50px;
			bottom: 100px;
			
			
			left: 100%;
			overflow: hidden;
			opacity: 0;

			z-index: 0;	

			transition: all 0.5s ease;
			background: white url('../img/load.gif') 50% 50% no-repeat;


			canvas{
				opacity: 0;
				transition: all 1s ease;
				width: 100%;
			}
		}
		div.prev {
				visibility: visible;
				left: calc(~"-100% + 400px");
				opacity: 0.5;
		}
		div.prevX {
				visibility: hidden;
				left: calc(~"-100%");
				opacity: 0;
		}
		div.active + div{
				visibility: visible;
				left: calc(~"100% - 100px");
				opacity: 0.5;
		
		}

		div.active{
			visibility: visible;
			left: calc(~"50% - ((100% - 300px)/2)");
			opacity: 1;
			overflow: auto;
			box-shadow: 0px 0px 10px #c0c0c0;
		}

	}

		
	#nav-next{
		cursor: pointer;
	position: absolute;
	right: 0;
	width: 100px;
	bottom: 50px;
	

	top: 50px;
	background: url('../img/right.png') 50% 50% no-repeat;
	opacity: 0.5;
	transition: all 0.5s ease;
	&:hover{
		opacity: 1;
	}
	}	
	#nav-prev{
		cursor: pointer;
	position: absolute;
	left: 0;
	width: 100px;
	bottom: 50px;
	background: url('../img/left.png') 50% 50% no-repeat;

	top: 50px;
		opacity: 0.5;
		transition: all 0.5s ease;
	&:hover{
		opacity: 1;
	}

	}

	#nav-choice{
		position: absolute;
		bottom: 10px;
		height: 80px;
		left: 0;
		right: 0;
		background: rgba(255,255,255,0.5);
		text-align: center;

		span{
			height: 60px;
			width: 60px;
			line-height: 60px;
			display: inline-block;
			border: 2px solid black;
			margin-top: 7px;
			margin-right: 20px;
			border-radius: 100%;
			font-size: 200%;
			background: wheat;
			opacity: 0.5;
			cursor: pointer;	
			&:hover{
				opacity: 1;
			}
			&.active{
				opacity: 1;
			}
		}
	}

}


#update-wrap{
	width: 500px;
	margin: auto;

	.update-item{

		border-top: 1px solid #c0c0c0;
		padding: 10px;

		.title{

		}
		.subtitle{
			color: #808080;
			font-size: 75%;
		}

		.btn-update{
			float: right;
		}
	}
}
